@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.data-all {
    width: 100%;
    display: flex;
    justify-content: center;
}

.data-all .data {
    width: 1600px;
    display: flex;
    justify-content: center;
}

.data-all .data .data-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.data-in .content {
    width: 1150px;
    background-color: rgba(222, 196, 163, 0.27);
    padding: 10px 0 20px 0;
    border-radius: 5px;
}

.data-in .title {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 5px;
    margin : 5px 0 0 25px;
    color: rgba(59, 54, 54, 0.850);
}

.data-in .garis {
    margin-top: 3px;
    padding: 2px 70px 2px 95px;
    background-color: rgba(59, 54, 54, 0.850);
    border-radius: 10px;
}

.data-in .table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

th .fa-xmark {
    color: red;
    border: 3px solid rgb(249, 172, 172);
    font-size: 18pt;
    padding: 5px 8px 5px 8px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    transition: 500ms ease-in-out;
}

th .fa-xmark:hover {
    background-color: rgb(249, 172, 172);
    border: 3px solid rgb(249, 172, 172);
}

th .fa-plus {
    color: blue;
    border: 3px solid rgb(156, 156, 253);
    font-size: 16pt;
    padding: 5px 7px 5px 7px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    transition: 500ms ease-in-out;
}

th .fa-plus:hover {
    background-color: rgb(156, 156, 253);
    border: 3px solid rgb(156, 156, 253);
}
